.titre{
    background-color: #68A849;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 190%;
    width: 300px;
    height: 50px;
}
.container{
    width: 300px;
    height: 400px;
    background-color: aqua;
    color: #FFFFFF;
    margin-top: 7%;
    margin-left: 40%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    
}
.formulaire{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: center;
    
  
}
.bouton{
box-sizing: border-box;
color: #FFFFFF;
width: 100px;
height: 25px;
background: #87DA60;
border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
border-radius: 15px;
margin: auto;
}
input{
    width: 245px;
    height: 25px;
    border-radius: 15px;
}