.globalForm .titre{
    background-color: #68A849;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 190%;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.globalForm .container{
    width: 400px;
    height: auto;
    background-color: aqua;
    color: #FFFFFF;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    
}
.globalForm .formulaire{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: center;
    
  
}
.globalForm .bouton{
box-sizing: border-box;
color: #FFFFFF;
width: 200px;
height: 40px;
background: #87DA60;
border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
border-radius: 15px;
margin: auto;
margin-top: 2%;
margin-bottom: 3%;

}
.globalForm input{
    width: 350px;
    height: 30px;
    border-radius: 15px;
}
.globalForm .sectioncontainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    margin-top: 2%;
}
.titreLabel{
    margin-left: 2%;
}
.globalForm .message{
    color: red;
    margin-left: 2%;
}
.globalForm svg {
    margin-top: 1%;
}