.LandingPage{

    display: flex;
    min-width: 100%;
    min-height: 779px;





    background: #BABABA;
    background: -moz-linear-gradient(top, #BABABA 0%, #3E6A83 100%);
    background: -webkit-linear-gradient(top, #BABABA 0%, #3E6A83 100%);
    background: linear-gradient(to bottom, #BABABA 0%, #3E6A83 100%);
}