.Trouvez {
  display: flex;
  flex-direction: column;
  width: auto;
}
.Trouvez .titre {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Trouvez .content{
    display: flex;
    justify-content: space-around;
}
