.signup-home {
  display: flex;
  flex-direction: row;
  color: #fefefe;
  height: 903px;
  background: url("../../medias/bkg-img.png");
  mix-blend-mode: multiply;
}

.signup-home .container {
  width: 30%;
  margin: auto;
}

.signup-home .top-utilisateur {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: auto;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 84%;
  background: #68a849;
  border-radius: 15px 15px 0px 0px;
}
.signup-home .top-prestataire {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: auto;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 84%;
  background: #ceae5b;
  border-radius: 15px 15px 0px 0px;
}

.signup-home .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 310px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: 5px;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 15px 15px;
}

.signup-home .titre {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 84%;
  /* or 27px */
  text-align: center;
  margin-bottom: 21px;
}

.signup-home .sous-titre-utilisateur {
  font-family: "M PLUS 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 84%;
  /* or 17px */

  text-align: center;

  color: #87da60;
  margin-bottom: 21px;
}

.signup-home .sous-titre-prestataire {
  font-family: "M PLUS 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 84%;
  /* or 17px */

  text-align: center;

  color: #ffdf8c;
  margin-bottom: 21px;
}

.signup-home li {
  margin-left: 10px;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 84%;
}

.signup-home .boutton-prestataire {
  margin:21px;
  font-family: "M PLUS 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 84%;
  /* identical to box height, or 17px */

  color: #ffffff;
  width: 200px;
  height: 70px;
  background: #F2D17C;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.signup-home .boutton-utilisateur {
  margin: 21px;
  font-family: "M PLUS 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 84%;
  /* identical to box height, or 17px */

  color: #ffffff;
  width: 200px;
  height: 70px;
  background: #87da60;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
